.second-items{
    display: flex;
    justify-content: center;
}
.product-items{
    display: flex;
    flex-direction: column;
}
.second-product{
    margin-left: 130px;
    width: 65vw;
    min-width: 800px;
}
.money{
    display: flex;
    flex-direction: column;
    
}

@media screen and ( max-width:600px){
    .logo-text{
        display: none;
    }
  
    .headIcon{
        display: none;
    }
}