 .isopen {
    font-size: 25px;
    margin-left: 30px;
}
.category-open > h3{
    border-bottom: 2px black solid;
    color: #F08300;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 30px;
}
.ca-item{
    text-align: left;
    line-height: 4;
}
.product-search{
    margin-left: 170px;
}