.formContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px black solid;
    /* width: 853px; */
    /* margin-left: 150px; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.second-label{
    font-size: 24px;
}
.second-select{
    font-size: 20px;
}
.form-name{
    text-align: left;
    /* margin-left: 150px; */
}
.inputGroup{
    margin: 20px auto;
}
.form-title{
    margin-right: 50px;
    font-size: 24px;
}
.input-keyword{
    width: 350px;
    padding: 10px;
    font-size: 20px;
}
.select-keyword{
    width: 300px;
    padding: 10px;
}
.form-title2{
    margin-right: 50px;
    font-size: 24px;
}
.select-keyword{
    margin-right: 80px;
    font-size: 20px;
}
.brand-keyword{
    width: 250px;
    padding: 10px;
    margin-right: 120px;
    font-size: 20px;
}
.submit{
    width: 350px;
    padding: 12px;
    background-color: #F08300;
    font-size: 24px;
    color: #fff;
    margin-left: 300px;
    margin-bottom: 20px;
}
.handleReset{
   margin-left: 55px;
   margin-top: 20px;
}
.second-brand{
    font-size: 16px;
}
.second-name{
    font-size: 18px;
}

.second-price{
    font-size: 20px;
}


