
footer{
    display: flex;
    justify-content: center;
    background-color:#FCF9E8 ;
    max-height: 400px;
    margin-top: 2000px;
}
footer div{
    padding: 2vw 4%;
    white-space: nowrap;
}
footer div ul{
     display: flex;
     flex-direction: column;
     list-style: none;
}
ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
} 
footer > h3{
    border-bottom: 2px black solid;
    width: 50%;

}
ul li a:hover{
    color:#F08300 ;
}
.snslogo{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 2vw;
}

