
.read-items{
    margin-left: 430px;
}
.read-items > h2{
    margin-top: 100px;
    background-color: black;
    color: #F08300;
    padding: 5px 0;
}
.reading-item-btn{
    position: absolute;
    z-index: 100000;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.read-items-card > img{
    width: 100%;
}
.read-title{
    text-align: left;
}
.read-sentence{
    text-align: left;
}