.users-infor-review > h2 {
 
    /* max-width: 1250px; */
    text-align: center;
    /* margin-left: 100px;
    margin-right: 100px; */
    padding: 30px;
    margin-top: 100px;
    font-size: 28px;
    border: 2px black solid;
}
.users-re{
    display: flex;
   padding-left: 170px;
   
   text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px black solid;
    /* width: 1080px; */
    /* margin-left: 98px; */

}

.user-age{
    margin-left: 50px;
}
.users-time{
    margin-top: 30px;
}
.users-description{
    /* margin-left: 300px; */
    margin: 0 auto;
  
    font-size: 20px;
}

