.more{
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 0 auto;
}

@media screen and ( max-width:600px){
    .logo-text{
        display: none;
    }
  
    .headIcon{
        display: none;
    }
}