.togglesell{
    background-color: #F08300;
    /* max-width: 1150px; */
    text-align: center;
    /* margin-left: 100px; */
    margin: 0 auto;
    padding: 30px;
    margin-top: 100px;
    color: #fff;
    font-size: 28px
}
.togglesells{
    margin-left: 20px;
}
.sell-grid{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 80px;
    /* margin-left: 100px;
    margin-right: 25px; */
}
.nosell-card{
    border: 1px solid #ddd;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
.nosell-number{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 50px;
}
.nosell-title{
    margin-top: 10px;
    font-size: 24px;
}
.nosell-description{
    margin-top: 5px;
    color: #555;
    padding: 20px 10px 50px 10px;
    text-align: left;
    margin-left: 100px;
    
}

.nosell-description1,
.nosell-description2,
.nosell-description3 {
    font-size: 20px;
}