.header_btn{
    max-width: 35px;
    width: 10%;
    aspect-ratio: 1 / 1;
    position: fixed;
  
    top: 68px;
    left: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 11px;
    z-index: 9999;
}
.header_btn.open{
    left: auto;
    top: 35px;
    right: 50%;
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}
.line1{
    width: 100%;
    border-top: 3px solid #4F4E4B;
}
.line2{
    width: 100%;
    border-top: 3px solid #4F4E4B;
}
.line3{
    width: 100%;
    border-top: 3px solid #4F4E4B;
}



.line1.open{
    position: relative;
    top: 15px;
    
    transform: rotate(45deg);
    transition: transform 1s ease-in-out;  
}
.line2.open{
    display: none;
    transition: transform 1s ease-in-out;
}
.line3.open{
    transform: rotate(-45deg);
    transition: transform 1s ease-in-out;
}

.menu{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 998;
    padding-top: 100px;
    background-color: #efefef;
    width: 90%; 
    height: 100%;
    transition: left 0.8s ease-in-out ;
}
.menu.open{
    left: 0;
    
}
.menu{
    
}
.menu-btn{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.menu-btn1{
    padding: 5px 28px;
    font-size: 14px;
    background-color: #F08300;
    color: #fff;
}
.menu-btn2{
    padding: 5px 16px;
    font-size: 14px;
    background-color: #F08300;
    color: #fff;
}
.hamburger-menu  h3 {
    text-align: left;
    padding-left: 25px;
}
.cardicon{
    position: fixed;
    width: 13%;
    top: 58px;
    right: 5px;
    z-index: 998;
}
.sp-hamburger-cago{
    background-color: #fff;
    padding: 5px auto;
    color:  #a19e9b;
    
}


/* h3{
    text-align: left;
    margin-left: 20px;
} */
/* .hamburger-menu{
    max-width: 600px;
} */



  
 