
 body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    max-width: 1440px;
    text-align: center;
    position: relative;
}
html body {
    width: 1440px;
    margin: 0 auto;
}

.repr{
    position: relative;
}
.container{
    position: absolute;
    top: 650px;
}

