

.cooperate-img1{
    margin-right: 80px;
    margin-top: 50px;
}
.cooperate-img2{
    margin-left: 80px;
    margin-top: 50px;
}
.cooperate-title{
    font-size: 28px;
    color: #F08300;
    margin-top: 100px;
}