

.cooperate-img1{
    margin-right: 80px;
    margin-top: 50px;
}
.cooperate-img2{
    margin-left: 80px;
    margin-top: 50px;
}
.cooperate-title{
    font-size: 28px;
    color: #F08300;
    margin-top: 100px;
}

@media screen and (max-width:600px){
    .cooper{
      margin: 0 5px;
    }
    .cooperate-title{
        font-size: 20px;
    }
    .cooperate-img{
        display: flex;
        justify-content: space-between;
    }
    .cooperate-img1{
        margin: 0;
      
    }
    .cooperate-img2{
        margin: 0;
    }
}