
p , h1{
    font-size: 14px;
    margin: 0 auto;
}

nav{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 5vw 1vw 5vw;
    max-height: 142px;
    border-bottom: 1px #EFEFEF solid ;
}

.logo{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
   
}
h1{
    margin: 0;
}
/* h1 > img{
    width: 130%;
    
} */
.logo-text{
    white-space: nowrap;
}
nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 0;

}
li{
    padding: 0 20px 0 0;
    margin-top: 3%;
}
ul li button{
    border: none;
    background-color:white;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap;
}

.headIcon{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
.headIcon > div{
    padding-right: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.favoriteIcon img{
    width: 40px;
    height: 35.5px;
    margin-top: 4px;
}

.navCategory{

    display: flex ;
    justify-content: center;
    /* white-space: nowrap; */
    max-width: 1440px;
    background-color: #EFEFEF;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    border-radius: 1%;
    
}

.navCategory > div > ul{
    display: flex;
    flex-direction: column;
 
}

.navCategory > div > ul > li > a{
    font-size: 12px;
}

.canCategory-old1{
    display: grid;
   width: 150px;
   margin-left: 35%;
    background-color: #EFEFEF;
    text-align: left;
    padding: 10px;
    position: absolute;
    z-index: 10;
   
}

.canCategory-price1{
    display: grid;
    width: 210px;
    background-color: #EFEFEF;
    text-align: left;
    margin-left: 41%;
    padding: 10px;
    position: absolute;
    z-index: 10;
}
.menu-pricebutton:hover,
.menu-diybutton:hover,
.menu-iembutton:hover,
.menu-storebutton:hover,
.menu-newbutton:hover,
.menu-oldbutton:hover

{
    color: #F08300;
    box-shadow: 0 5px 0 0 #F08300;
}




@media screen and (max-width: 768px) {
    .logo-text {
        display: none;
    }
    .headIcon{
        display: none;
    }
    .logo > h1 > img{
        width: 80%;
    }
    nav > ul {
        display: none;
    }
    .swiper-movebtn{
        max-width: 420px;
        align-items: center;
        text-align: center;
        margin-left: 38.9%;
    }
    .swiper-pagination{
        display: none;
    }
}



