.old-items{
    margin-top: 100px;
    /* width: 50vw; */
}
.old-items > h2 {
    font-size: 28px;
    color: #F08300;
    margin-left: 40px;
    margin-bottom: 100px;
}
.old-item-btn{
    position: absolute;
    z-index: 100000;
    top: 28%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.old-brand{
    text-align: left;
    color: #707070;
    font-size: 16px;
}
.old-name{
    text-align: left;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;

}
.old-status{
   
    background-color: #F08300;
    color: #fff;
    width: 90px;
    text-align: center;
    margin-left: 0;
}
.old-price{
    text-align: left;
    color: #e53935;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}
.old-btn{
    font-size: 28px;
    padding: 15px 50px;
    background-color: #fff;
    margin: 50px 0 50px 100px;
    color: #F08300;
}
.old-btn:hover{
    background-color: #F08300;
    color: #fff;
    cursor: pointer;
}
.swiper-slide img{
width: 100%;
}


