.container{
  margin-top: 100px;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 60px;
}
.heading{
    display: flex;
    justify-content: space-around;
    margin:0 0 100px 78px;  
    margin-right: 100px;
}
.heading > h2{
    font-size: 28px;
}
.heading > h2:hover{
  color: #F08300;
  box-shadow: 0 5px 0 0 #F08300;
 
}

.item-card{
    width: 20%;
    /* margin: 0 2%; */
    height: auto;
}
.item-card > img{
    width: 100%;

}
.item-card > .item-info{
    text-align: left;
}

/* .item-info {
    font-size: 14px;
  }
   */
  .products-brand {
    color: #707070;
    font-size: 16px;
    
    margin-bottom: 5px;
  }
  
  .products-name {
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .products-status{
    background-color:#367DA9 ;
    width: 35px;
    text-align: center;
    margin: 0;
    color: #fff;
  }
  .products-price {
    color: #e53935;
    font-weight: bold;
    font-size: 20px;
  }
  .linkbtn{
    font-size: 28px;
    font-weight: bold;
    color: #F08300;
    padding: 15px  50px ;
    background-color: #fff;
    margin: 50px 0 50px 0;
  }
  .statusUsed{
    background-color: #F08300;;
  }
  .statusRanking{
    background-color: #e53935;
  }


@media screen and ( max-width: 600px) {

    .container{
      /* display: none; */
      margin-top: 40px;
      
    }

  .heading > h2{
    font-size: 16px;
    white-space: nowrap;
  }
  .heading{
    display: flex;
    justify-content: center;
    gap: 11vw;
    
    margin: 0 auto;
   
  }
  .item-list{
   
    margin: 30px auto;
    gap: 11vw;
  }
  .item-card{
    width: 38%;
    gap: 5px;
  }
  .products-brand{
    font-size: 10px;
  }
  .products-name{
    font-size: 14px;
  }
  .products-price{
    font-size: 14px;
  }
}