
.read-items{
    /* margin-left: 440px; */
    /* margin-right: 140px; */
}
.read-items > h2{
    margin-top: 100px;
    background-color: black;
    color: #F08300;
    padding: 5px 0;
}
.reading-item-btn{
    position: absolute;
    z-index: 100000;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.read-items-card > img{
    width: 100%;
}
.read-title{
    text-align: left;
}
.read-sentence{
    text-align: left;
}
/* @media screen and (max-width: 600px) */
@media screen and (max-width:600px){
    .read-items{
        display: none;
    }
}