.recentlycheck{
    
    /* margin-left: 105px; */
    margin-top: 100px;
    /* width: 852px; */
}

.recently-check-btn{
    position: absolute;
    z-index: 100000;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.recentlycheck > h2 {
    color: #F08300;
    margin-bottom: 100px;
    font-size: 28px;
}

.check-img{
    width: 100%;
}
.check-brand{
    font-size: 16px;
    text-align: left;
    color: #707070;
}
.check-name{
    text-align: left;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}
.check-status{
    background-color:#367DA9 ;
    width: 35px;
    text-align: center;
    margin: 0;
    color: #fff;
}
.check-price{
    color: #e53935;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

@media screen and (max-width: 768px){
    .recentlycheck{
        margin: 0;
    }
    .recentlycheck > h2 {
        font-size: 20px;
        width: 45%;
    }
   
    .recently-check-btn{
        width: 45%;
    }
  
    .recentlycheck .swiper-slide{
        width: 168px;
        padding: 0;
    }
   
}