



/* コンテナ全体のスタイル */
.recent-products {
    /* padding: 20px; */
    max-width: 1000px;
    margin: 0;

  }
  
  .title {
    font-size: 28px;
    color: #F08300;
    font-weight: bold;
    text-align: center;
    margin: 100px auto;
    /* border-top: 1px #000000 solid;
    padding-top: 20px; */
  }
  
  /* 商品リストのスタイル */
  .product-list {
    display: flex;
    gap: 40px;
    text-align: left;
    /* overflow-x: auto;  */
    /* padding-bottom: px; */
    /* scroll-behavior: smooth; */
  }
  
  /* 商品カードのスタイル */
  .product-card {
    flex: 0 0 auto; /* 幅固定でスクロール可能に */
    width: 168px; 

    background: #fff;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    padding: 10px;
    text-align: left;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  /* 画像スタイル */
  .product-image {
    width: 100%;
    height: 168px;
    margin-bottom: 10px;
  }
  
  /* 商品情報のスタイル */
  .product-info {
    font-size: 14px;
    height: 100px;
  }
  
  .product-brand {
    color: #707070;
    
    margin-bottom: 5px;
  }
  
  .product-name {
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .product-status{
    background-color:#367DA9 ;
    width: 35px;
    text-align: center;
    margin: 0;
    color: #fff;
  }
  .product-price {
    color: #e53935;
    font-weight: bold;
  }

  