
.abn{
    display: flex;
    position: relative;
    justify-content: center;
}
.abn .vbn{
    margin-left: 130px;
    width: 65vw;
    /* min-width: 800px; */
}
.sp-link-img{
    display: none;
}
.hamburger-menu{
    display: none;
}
.sp-form{
    display: none;
}
.sp-store{
    display: none;
}
.sp-staff-review{
    display: none;
}
.sp-users{
    display: none;
}
.sp-footer-infor{
    display: none;
}


@media screen and (max-width: 600px) {
    .abn .vbn{
        margin-left: 0;
        width: 100%;  
    }
 



    /* headerのnavの部分です */

    /* スマホ上部の画像link「新着、中古、買取」 */
    nav > ul {
        display: none;
    }



    .sp-link-img{
        display: block;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        
    }
    .sp-link-img img{
        width: 100%;
    }
    .sp-link-img p{
        font-size: 20px;
        padding-top: 10px;
    }
    .hamburger-menu{
        display: block;
    }
    .swiper-slide{
        padding-left: 0;
    }


    /* 頭の検索のfrom */
    form{
        display: block;
    }
    .sp-form{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .sp-search > select{
        padding: 10px ;
        border-radius: 5px 0 0 5px;
        
        width: 100%;
        color: #fff;
        background-color: #707070;;
    }
    .sp-input > input{
        padding: 10px 35vw 10px 0;
        border-radius: 0 5px 5px 0; 
    }
    .sp-store{
        display: block;
    }
    .sp-store{
        display: flex;
        justify-content: space-between;
        background-color: #FCF9EB;
        padding: 20px;
    }
   
    .sp-store > p{
        font-size: 14px;
    }
    .swiper{
        margin-top: 5px;
    }

    /* 最近チェックの商品 swiperで表示される*/



    /* 新品　中古　ランキング部分のもっと見るボタン */
   .linkbtn{
    font-size: 14px;
    margin-top: 20px;
   }
   .abn{
    display: block;
    margin: 0 auto;
   }

   /* staffのレビュー　スマホ版 */
   .sp-staff-review{
    display: block;
   }
   .review-list{
    display: flex;
    /* justify-content: space-around; */
    margin: 0 20px 0 20px;
   }
   .review-card{
    width: 100%;
    }
    .review-card > img{
    width: 100%;
    }
    .sp-staff-review-title{
        font-size: 20px;
        color: #F08300;
        margin-top: 40px;
    }
    .sp-title-all{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
    }
    .review-brand{
        font-size: 10px;
    }
    .review-name{
        font-size: 14px;
    }
    .review-description{
        font-size: 14px;
    }
    .staff{
        font-size: 10px;
    }
    .sp-button{
        font-size: 14px;
        padding: 15px 50px;
        color: #F08300;
        background-color: #fff;
        margin-top: 30px;
    }


       /* usersのレビュー　スマホ版 */
     .sp-users{
        display: block;
     }
     .users-card{
        width: 100%;
     }
     .users-list{
        margin: 0 20px;
     }
     .sp-users-title{
        font-size: 20px;
        color: #F08300;
        margin-top: 40px;
     }
     .users-star::after{
        font-size: 20px;
    }
    .users-brand{
        font-size: 10px;
    }
    .users-title{
        font-size: 14px;
    }
    .user-description{
        font-size: 14px;
    }
    .users-name{
        font-size: 10px;
    }
    .sp-users-review-brn{
        font-size: 14px;
        padding: 15px 50px;
        color: #F08300;
        background-color: #fff;
        margin-top: 30px;
    }

    /* スマホのfooter */
    .sp-footer-infor{
        display: block;
    }
}
